<header>
  <div class="navbar-fixed">
    <nav class="blue darken-1">
      <div class="nav-wrapper container">
        <a href="#" class="brand-logo">PizzaFactory Project</a>
      </div>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="container">
    <div><a href="https://www.monami-ya.com/ja/posts/2022/08/21/semola-prize-in-plicy-game-contest-2022/">PliCyゲームコンテスト2022におけるSEMOLA賞の受賞条件について</a></div>
  </div>
  <div class="container">
    <div class="footer-copyright">Copyright &copy; 2019- PizzaFactory Project, all rights reserved.</div>
  </div>
</footer>
