<div class="container">
  <h1>プライバシーポリシー</h1>
  Last updated: Jan 1, 2019
  
  <h2>Glossary</h2>
  <dl>
    <dt>Our sites</dt>
    <dd>Web services that provided on DNS name pizzafactory.jp and its subdomains.</dd>
    <dt>Coolies</dt>
    <dd>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer’s hard drive.</dd>
  </dl> 
  
   
  <h2>プライバシーポリシー</h2>
  <p class="numbering">PizzaFactory は、"Our sites"を運営しています。このサイトは、収集、使用、個人情報の開示に関する私たちのポリシーをあなたにお知らせします。</p>
  <p class="numbering"> "Our sites" において、私たちはあなたの個人情報のプライバシーを守ることは重要であると認識しています。ここには、あなたが "Our sites" を訪れたときに、私たちがどのようなタイプの個人情報を受け取ったり、収集しているか、そしてどのように私たちがあなたの情報を保護しているかが書かれています。私たちは決してあなたの個人情報を第三者に売ったりしません。</p>
  <p class="numbering">私たちは、あなたの個人情報をこのサイトのため、このサイトの改善のためだけに使います。このサイトを利用するにあたり、ポリシーの通りに情報の収集・利用することを同意します。</p>
  
  <h3>ログ　ファイル</h3>
  <p class="numbering">ほとんどの他のサイトと同様に、私たちは、ログファイルを含んだデータを収集・利用しています。あなたのIPアドレス、ISP（AOLやShaw Cableのようなインターネットサービスプロバイダー）、私たちのサイトを訪れた時に使ったブラウザー、私たちのサイトに訪れた時間やその時にどのページを訪れたかを含めたログファイルがその情報です。加えて、データの収集・モニター・分析のためにグーグルアナリティクスのような第三者のサービスに使うかもしれません。</p>
  
  <h3>クッキー＆ウェブビーコン</h3>
  <p class="numbering">多くのサイトのように、私たちは収集した情報を”クッキー”として使います。あなたのブラウザーに全てのクッキーを拒否するようにしたり、クッキーが送られてきたときに指摘することもできます。しかし、あなたがクッキーを承諾しないと、私たちのサイトの中身を利用することはできないかもしれません。</p>
  <p class="numbering">私たちはまた、"Our sites" をサポートするために第三者の広告を使います。　いくつかの広告では、その広告を私たちのサイトで流すときに、クッキーやウェブビーコンのようなテクノロジーを使うかもしれません。そして、それによりグーグルアドセンスのようなこれらの広告に、あなたのIPアドレスやISPお使いのブラウザー情報など、時にはFlashがインストールされているかなどの情報が含まれます。これは、一般的には、地域特定の目的（例えば、PNG不動産の広告をPNGの誰かに見せるため）だったり、ある広告を特定のサイトを訪れた人に見せるためです。</p>
  
  <h3>ダブルクリック DART クッキー</h3>
  <p class="numbering">私たちはまた、グーグルのダブルクリックのサービス広告のために、DARTクッキーを使うかもしれません。それは、あなたがウェブサイトを見ていて、グーグルアドセンスの広告のような二回クリックする広告を使った時にあなたのコンピューターのクッキーに提起します。このクッキーは、あなたやあなたの興味関心に特定の広告を出すために使われています。</p>
  <p class="numbering">広告はあなたの今までのページ観覧履歴をベースに提供されます。（例えば、あなたが東京に行くことを調べるサイトを多く見ていた時は、東京のホテルの広告がそれに関係していないサイトを見ている時にも提供されるかもしれません）DARTは、”個人を特定する情報”は使いません。そのため、名前やメールアドレス、住所、電話番号、ソーシャルセキュリティーナンバー、銀行口座、クレジットカード番号などのあなたの個人情報を突き止めるものではありません。</p>
  <p class="numbering">この広告サービスを利用したくないときは、http://www.doubleclick.com/privacy/dart_adserving.aspxに行くと、全てのこのような広告を使っているサイトのこのようなサービスの利用を防ぐことができます。</p>
  <p class="numbering">あなたのブラウザー設定やノートンインターネットセキュリティーようなプログラムの選択を管理することで、私たちのクッキーや第三者のクッキーを使えないようにしたり、選択して拒否したり選ぶことができます。しかし、この設定によりサービスやプログラムにログインできなくなリます。</p>
  <p class="numbering">クッキーを削除することは、あなたが永久にそれらの広告プログラムから脱退したということではありません。あなたがクッキーを許可しないセッティングにしている限り、次にあなたが広告が運営されているサイトに訪れた時、新しいクッキーが追加されるでしょう。</p>
  
  <h3>情報収集と利用</h3>
  <p class="numbering">私たちのサイトを利用していただくにあたり、コンタクトで使ったようなあなただとわかるような個人を特定できる情報を私たちに提供することを承諾していただかなくてはなりません。個人を特定できる情報が含まれますが、あなたの名前に限定されるものではありません。</p>
  
  <h3>コミュニケーションズ</h3>
  <p class="numbering">私たちは、ニュースレターの送付やマーケティング、販売促進、他の情報などのためにあなたの個人情報を使うかもしれません。</p>
  <p class="numbering">通信部では、Eメール経由、Eメールニュースレターまたは他の方法でビジネスに関しての連絡をします。</p>
  
  <h3>セキュリティー</h3>
  <p class="numbering">あなたの個人情報のセキュリティは私たちにとって重要ですが、100％安全なインターネット上の転送方法や電子的な保存方法はありません。私たちはあなたの個人情報を保護するために商業的に受け入れられる手段を使用するよう努めますが、その絶対的なセキュリティを保証することはできません。</p>
  
  <h3>プライバシーポリシーの変更</h3>
  <p class="numbering">このプライバシーポリシーは本文書の先頭にある日付時点で有効であり、このページに掲載された直後に有効になる、将来の規定の変更を除いて有効です。</p>
  <p class="numbering">私達は私達のプライバシーポリシーをいつでも更新または変更する権利を留保します、そしてあなたはこのプライバシーポリシーを定期的にチェックするべきです。このページのプライバシーポリシーに変更を加えた後も、サービスを継続して使用することは、変更を承認したこと、および変更されたプライバシーポリシーを遵守することに同意することを意味します。</p>
  <p class="numbering">このプライバシーポリシーに重大な変更を加えた場合は、提供された電子メールアドレスを使用するか、または当社のWebサイトに目立つように通知することにより、通知します。</p>
  
  <h3>お問い合わせ</h3>
  <p class="numbering">このプライバシーポリシーに質問がある場合は、<a href="mailto:support@pizzafactory.jp">お問い合わせ</a>からご連絡ください。</p>
</div>
